
body {
    background-color: black;
}

h1 {
    color: white;
    text-align: center;
}

p {
    font-family: verdana;
    font-size: 20px;
}


ul {
	text-align: center;
}
	
table {
border-collapse: collapse;
width: 70%;
background-color: white;
}

 
table, td, tr {
border: 2px solid grey
}

 article {
	padding: 50px
	background-color: red;
}
	 

  
 footer {
    padding: 1px;
    background-color: #000000;
    text-align: center;
    color: #FFFFFF;
}
  
  header {
  background-color: Black;
  padding: 1em;
  color: White;
  text-align: center;
}
  
img {
float: left;
padding-right: 50px;
width: 160px
}




article {
padding: 50px;
padding-left: 200px
}


nav {
font-size: 20px
}

nav {
background-color: #CD8C95;
text-align: center;
color: White;
}
 p.a {
 background-color: Black;
 }
